body {
   font-family: 'Poppins', sans-serif;
   text-align: center;
   font-size: 10em;
   padding: 0%;
   height: 0;
}

#container {
    height: 100px;
    width: 200px;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

* {
    align-items: center;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
    margin: 0;
    padding: 0;
}

#increaseButton {
    background-color: rgb(63, 255, 124);
    color: black;
    padding: 15px 32px;
    font-size: 20px;
    cursor: pointer;
}

#increaseButton:hover {
    background-color: greenyellow;
}

#resetButton {
    background-color:rgb(255, 140, 0);
    color: black;
    padding: 15px 32px;
    font-size: 16px;
    cursor: pointer;
}

#resetButton:hover {
    background-color:rgb(255, 155, 118);
}

#decreaseButton {
    background-color: rgb(253, 5, 5);
    color: black;
    padding: 15px 32px;
    font-size: 20px;
    cursor: pointer;
}

#decreaseButton:hover {
    background-color: rgb(255, 81, 81);
}

#counter {
    font-size: 30px;
}

#h1 {
    font-size: 20px;
}